/* BOTÃO DE CURRÍCULO */
.btn-curriculo,
.btn-curriculo span {
  color: #dab39e;
  background-color: #4a3732;
}

.btn-curriculo:hover {
  font-size: 1.02rem;
}

.btn-curriculo span {
  display: inline-block;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.btn:hover span {
  transform: translateX(4px);
  color: #fff;
}

/* ------------------------ */

/* NOME */
.header-title-span {
  font-size: 5rem;
  position: relative;
  display: inline-block;
  z-index: 1;
  transition: color 0.2s ease;
  cursor: pointer;
  padding-left: 5px;
}

.header-title-span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #452829;
  z-index: -1;
  transition: width 0.4s ease-in-out;
  border-radius: 6px;
}

.header-title-span:hover {
  color: #dab39e;
}

.header-title-span:hover::before {
  width: 80%;
}
/* ------------------------ */

/* TYPEBAR */
.typebar {
  width: 7px;
  height: 30px;
  background-color: #452829;
  margin-right: 10px;
  animation: blink 1.75s steps(1, start) infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ------------------------ */

/* BORDA DA IMAGEM (Ruim. Corrigir posteriormente) */

/* ------------------------ */

/* ABOUT ME */
/* .about-me {
  background:
    linear-gradient(rgba(232, 209, 197, 0.7), rgba(232, 209, 197, 0.7)),
    url("../../assets/images/aboutmebg.jpg");
  background-size: 300px; /* padrão repetido
} */

body {
  background-color: #f6e4d3;
  position: relative;
  /* Essa linha abaixo resolve o problema de z-index: */
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  /* Caminho relativo para o Vite entender corretamente: */
  background-image: url("../../assets/images/kraft-texture.webp");
  background-repeat: repeat;
  background-blend-mode: multiply;
  opacity: 0.125;
  pointer-events: none;
  z-index: -1;
}
