@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
@import "tailwindcss";

/* TEXTO */
.geist-mono {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.header-title {
  line-height: 1;
}
/* ------------------------ */

/* CORES */

* {
  color: #1b1b1b;
}

html,
body {
  background-color: #e8d1c5;
}

.color-special {
  color: #452829;
}

.color-special-green {
  color: #4f772d;
}

.bg-special {
  background-color: #dab39e;
}

/* ------------------------ */

/* BOTÕES */
.btn {
  border-color: #4a3732;
  border-radius: var(--radius-sm);
}

.btn:hover {
  background-color: #4a3732;
  color: #fff;
}

.hover-scale-p:hover {
  font-size: 1.02rem;
}

/* ------------------------ */
